---
http_interactions:
- request:
    method: post
    uri: https://sandbox.sendsonar.com/api/v1/customers
    body:
      encoding: UTF-8
      string: phone_number=%2B13105555555&email=five%40example.com&first_name=Five&last_name=Example&properties[great_customer]=true
    headers:
      Client:
      - rubygem 1.1.0
      Token:
      - 99siwE4WRn6bg_B_ktm6h2w6Kez0JYLL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9731e89bc35e8bf098fb635e154d319"
    body:
      encoding: UTF-8
      string: '{"phone_number":"+13105555555","email":"five@example.com","first_name":"Five","last_name":"Example","subscribed":true,"properties":{"great_customer":"true"},"assignee":null}'
  recorded_at: Tue, 10 Oct 2017 23:40:15 GMT
recorded_with: VCR 3.0.3
