---
http_interactions:
- request:
    method: delete
    uri: https://sandbox.sendsonar.com/api/v1/customers/properties
    body:
      encoding: UTF-8
      string: phone_number=%2B13105551111&property_name=foo
    headers:
      Token:
      - 99siwE4WRn6bg_B_ktm6h2w6Kez0JYLL
      Client:
      - rubygem 1.1.0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6aa205a7ea8c48140a61e49abdca3752"
    body:
      encoding: UTF-8
      string: '{"property_name":"foo","property_value":"42","email":"one@example.com","phone_number":"+13105551111","deleted":true}'
  recorded_at: Wed, 04 Oct 2017 20:49:50 GMT
recorded_with: VCR 3.0.3
