---
http_interactions:
- request:
    method: delete
    uri: https://sandbox.sendsonar.com/api/v1/customers/properties
    body:
      encoding: UTF-8
      string: email=one%40example.com&property_name=bar
    headers:
      Token:
      - 99siwE4WRn6bg_B_ktm6h2w6Kez0JYLL
      Client:
      - rubygem 1.1.0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87f4c9043db3464360ae570c767fe87a"
    body:
      encoding: UTF-8
      string: '{"property_name":"bar","property_value":"baz","email":"one@example.com","phone_number":"+13105551111","deleted":true}'
  recorded_at: Wed, 04 Oct 2017 20:49:51 GMT
recorded_with: VCR 3.0.3
