---
http_interactions:
- request:
    method: get
    uri: https://sandbox.sendsonar.com/api/v1/customers?phone_number=%2B13105551111&token=99siwE4WRn6bg_B_ktm6h2w6Kez0JYLL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71a571a694ae6de84e1a624b1c0c16a5"
    body:
      encoding: UTF-8
      string: '{"phone_number":"+13105551111","first_name":"One","last_name":"Example","email":"one@example.com","assigned_phone_number":"+17573780424","subscribed":true,"unsubscribed_at":null,"properties":{"great_customer":"true","first_customer":"true"},"external_id":null}'
  recorded_at: Thu, 05 Oct 2017 00:28:16 GMT
recorded_with: VCR 3.0.3
